
@{
    ViewBag.Title = "About";
}


<div class="container body-content">
    <br>
    <br>
    <h1 style="font-weight: bold"><img src="/Images/Chevaleresk.png" style="height:50px; margin: 5px" /> Chevalresk</h1>
    <br>
    <hr>

    <p style="font-size:x-large">
        <b>Chevaleresk…</b> des items pour des chevaliers…
        <br>
        Il a été conçu dans le cadre pédagogique du cours de Projet Dirigé Hiver 2021<br>
    </p>
    <hr>
    <pre style="font-size:x-large">    
    Auteurs: Samuel Machado, Guillaume Jarry, Alexandre Tardif, Jefferson Da Silva
    <br />
    Technique de l'informatique
    Collège Lionel-Groulx
</pre>
</div>

