@model IEnumerable<EFA_DEMO.Models.User>
@{
    ViewBag.Title = "Inventory";
}
<h2>Listes des joueurs inscrits</h2>

<br />
<table class="table">

    @foreach (var user in Model)
    {
    <tr>
        <td>
            <a href="Profil/@user.IdPlayer" data-toogle="tooltip" title="Modifier le profil">
                <div class="mediumAvatar"
                     style="
                            background: url(@user.ToUserView().GetAvatarURL().Substring(1)) no-repeat center center; 
                            background-size: cover;">
                </div>
                    <span class="listFullNameTitle">&nbsp;@user.FullName</span>
            </a>
        </td>
        <td>
            @Html.ActionLink("Inventory", "Inventory", new { id = user.IdPlayer })
        </td>
    </tr>
        
    }
</table>

