@model IEnumerable<EFA_DEMO.Models.User>
@{
    ViewBag.Title = "Inventory";
}
<h2>Listes des joueurs inscrit</h2>

<br />
<table class="table">

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Helper.AvatarProfilLink(item.ToUserView())
        </td>
        <td>
            @Html.ActionLink("Inventory", "Inventory", new { id = item.IdPlayer })
        </td>
    </tr>
        
    }
</table>

